<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436041232880-k5la7ankpdl8esge39h913s2jaro3k2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436041232880-k5la7ankpdl8esge39h913s2jaro3k2v</string>
	<key>API_KEY</key>
	<string>AIzaSyA-bUHaJ-yfcdi7keETUcI-bvF9BGtKyok</string>
	<key>GCM_SENDER_ID</key>
	<string>436041232880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.webplex.xoomie</string>
	<key>PROJECT_ID</key>
	<string>io-webplex-xoomie</string>
	<key>STORAGE_BUCKET</key>
	<string>io-webplex-xoomie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436041232880:ios:9ce23bacdff7143fb32d35</string>
</dict>
</plist>